body{

	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;


  	
}
.bodyInicio{
	background-image: url("../images/o-CHILD-WITH-IPAD.jpg") !important;

}
.noMarginBot{
	margin-bottom: 0px !important;
	color:#DDDDDD;
}
.row {
	margin-right: 0px !important; 
	margin-left: 0px !important; 
}
header{
	background-color: #FF9B2A;
	color: white;
}
.navbar{
	margin-bottom: 0;

}	
.jumbotron{
background: rgba(255,255,255,0.4) !important;
/*color: #fff;*/
margin-top: 50px
margin-bottom: 0px !important;
padding-bottom: 0px !important;
}

footer{
	padding: 5px;
	background-color: #428BCA;
	color: white;
}
footer a{
	color: white;
}
/* Post(s)*/
.main{
margin-top: 20px;
margin-bottom: 20px;
}
.post{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
}
.post .post-title a{
	color: #333;
}
.post .la{
	margin-left: 10px;
	margin-bottom: 5px;
}
.post .thumb{
	margin-right: 10px;
	width: 40%;
}
.post .thumb img{
	width: 100%;
}
.post .contenedor-botones {
	width: 100%
}
/* EndPost(s)*/

/* Media Query*/
@media screen and (max-width:768px){
	.post .thumb{
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}
}
/* EndMediaQuery*/

/* PersonalsColor*/
.color1{
	background-color: #001AFF;
	color: #76FF26;
}
.color2{
	background-color: #FF7544;
	color: white;
}
.color3{
	background-color: #00B28D;
	color: #B2370C;
}
.color4{
	background-color: #B2370C;
	color: #FFF0B9;
}

.color5{
	background-color: #6D50B2;
	color: #FFF688;
}
.color6{
	background-color: #4D55B2;
	color: #B2A161;

}
.fabtn{
	font-size: 1.5em !important;
	color: #FFFFFF;
	background-color: rgba(0,0,0,1);
}
/* EndPersonalsColor*/

#inicioHeader{
	width: 100%;
	margin-bottom: 0px;
	margin-top: 50px;

}
.vcenter {
    margin-top: auto;
}

.backPar{
	padding-top: 10px;
	padding-bottom: 10px;

	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}
.infoIcon{
	transition: 0.5s
	background-color: #EEEEEE
}
.infoIcon:hover{
	transition:0.5s;
	background-color: #FFFFFF
}
/*Fondos y estilos de sections*/
.eduEnCasa2{
	background-image: url("../images/o-CHILD-WITH-IPAD.jpg");
	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;

}
.eduEnCasa
{
	background-image: url("../images/home_languageschool_choose_language_bg.jpg");

}

.artInfo
{
	background-image: url("../images/home_languageschool_choose_course_bg_azul.jpg");
	color: #DDDDFF

}
