<!doctype html>
<html ng-app="appNav">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <!--Frameworks-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <title>Welds.org</title>
    
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top arriba">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-namePg">
            <span class="sr-only">Desplegar / Ocultar Menu</span>
            <i class="fa fa-caret-square-o-down fabtn" aria-hidden="true"></i>
          </button>
          <a href="index.html" class="navbar-brand">Welds</a>
        </div>
        <!-- Menu -->
        <div ng-controller="navController as barra" class="collapse navbar-collapse" id="nav-namePg">
          <ul  class="nav navbar-nav">
            <li class="active" ng-repeat="boton in barra.navs"><a href="{{boton.link}}">{{boton.name}}</a></li>  
          </ul>
        </div>
      </div>
    </nav>
    <!--Inicia el contenido de la Página-->

    <!--Controler de todo el contenido-->

    <section ng-controller="contentComoFunciona as funciona">

      <!--Sección 1 del contenido-->
      <article class="jumbotron row hidden-xs">
        <h1 class="text-center"><strong>{{funciona.contenido.titulo}}</strong></h1>
        <div ng-repeat="articulo in funciona.contenido.contenido" class="container btn-default" style="margin:3em;">
          <h2><strong>{{articulo.titulo}}</strong></h2>
          <p ng-repeat="parrafo in articulo.contenido">{{parrafo}}</p>
          <ol>
            <li ng-repeat="lista in articulo.lista">{{lista}}</li>
          </ol>
        </div>          
      </article>
      <article class="jumbotron row visible-xs">
        <h1 class="text-center" style="margin-top:1.5em"><strong>{{funciona.contenido.titulo}}</strong></h1>
        <div ng-repeat="articulo in funciona.contenido.contenido" class="container-fluid btn-default row" style="margin:3em;">
          <h2 class="text-center"><strong>{{articulo.titulo}}</strong></h2>
          <p ng-repeat="parrafo in articulo.contenido" class="text-center">{{parrafo}}</p>
          <ol>
            <li ng-repeat="lista in articulo.lista">{{lista}}</li>
          </ol>
        </div>          
      </article>



    <!--Termina el contenido de la Página-->

    <nav role="navigation" class="navbar navbar-inverse noMarginBot">
      <div class="container">
      <br>
        <p class="text-center hidden-lg hidden-md">© 2016 Welds Homeschooling.<br>Todos los derechos reservados.</p>
        <p class="text-center hidden-xs hidden-sm">© 2016 Welds Homeschooling. Todos los derechos reservados.</p>

        
      </div>
    </nav>

    <!--Scripts extras-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>-->
    <!--App Angular-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app/appNav.js"></script>
    <script>
  
  </script>
  </body>
</html>




